.email-banner {
  position: relative;
  width: 80%;
  height: 400px; 
  background-image: url('/images/impera_cta.png'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 5%;
  margin: 5% 0 5% 10%;

}

.banner-content{
  width: 80%;
}

.banner-content {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.banner-buttons {
  display: flex;
  gap: 10px;
  margin: 0 0 5% 0;
}

.btn-outline,
.btn-primary {
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.btn-outline {
  background: transparent;
  border: 2px solid white;
  color: white;
}

.btn-primary {
  background-color: #ffffff;
  color: #0a0a0a;
}
