
.hero-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f9f9fb;
  padding: 100px 80px;
}

.hero-left h1 {
  font-size: 42px;
  margin: 10px;
}

.gray-text {
  color: #6e6e73;
  font-weight: 700;
}

.hero-right {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.help-box {
  display: flex;
  align-items: center;
  transform: translate(-60px);
  font-size: 13px;
  gap: 15px;
}

.help-box img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}

.help-box a {
  color: #0099ff;
  text-decoration: none;
  font-size: 13px;
}

