* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  background-color: #ffffff;
}

.navbar-section {
  flex: 1;
  display: flex;
  align-items: center;
}

.left {
  justify-content: flex-start;
}

.center {
  font-size: 13px;
  justify-content: center;
}

.right {
  display: flex;
  justify-content: flex-end;
}

.logo img {
  width: auto;
  height: 40px;
  padding-left: 30px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li a {
  text-decoration: none;
  color: #333333;
}

.nav-links li a img{
  height:10px;
  cursor: none;
}

.demo {
  padding: 14px 16px;
  font-size: 13px;
  background-color: #000000;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  transform: translateX(-10px);
  cursor: pointer;
}
