.zoom-container {
    cursor: pointer;
    display: inline-block;
    transition: transform 1s ease;
  }
  
  .zoomed {
    transform: scale(1.5);
  }
  
  .zoom-container img {
    width: 400px;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  }
  