@font-face {
    font-family: 'SFProDisplayBlack';
    src: url('./assets/fonts/SFPRODISPLAYREGULAR.OTF') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: 'SFProDisplayBlack';
  }
  html {
    scroll-behavior: smooth;
  }

  
  